<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
    <footer id="footerdos" th:fragment="footerdos">
			<div class="container-fluid">
				<div class="row p-5 pb-2" style="background-color:  #DC143C;">
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h5 mb-3">Festival</p>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Tickets</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Sponsors</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Prensa</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Merch</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h5 mb-3">Ayuda</p>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Contacto</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Información</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Pulseras</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h5">Social</p>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Instagram</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Facebook</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Twitter</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">YouTube</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h5">Subscribete</p>
						<div class="mb-2">
							<a class="text-white text-decoration-none" th:href="@{#}">Registrarse</a>
						</div>
					</div>
					<div class="col-xs-12 pt-4"> 
			    		<p class="text-white text-center">Copyright - Todos los derechos reservados 2022</p>
			    	</div>
				</div>
			</div>
    </footer>
    
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/popper.js/2.9.3/js/popper.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>