<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<nav id="generalheader" th:fragment="generalheader">
	
		<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #DC143C;">
		 <div class="container-fluid">
    		<a class="navbar-brand text-white"> Spotify </a>
   			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarScroll">
      			<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
	        		<li class="nav-item">
	          			<a class="nav-link active text-white" aria-current="page" href="/inicio">Inicio</a>
	        		</li>
	        		<li class="nav-item dropdown">
	          			<a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            			Informacion
	          			</a>
	          			<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
	            			<li><a class="dropdown-item" th:href="@{/Candidatos/listaCandidatos}">Candidatos</a></li>
	            			<li><hr class="dropdown-divider"></li>
	            			<li><a class="dropdown-item" th:href="@{/usuario/listaUsuarios}">Usuarios</a></li>
	          			</ul>
	        		</li>
	        		
	        		 <li class="nav-item dropdown">
				          <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				            Formularios
				          </a>
				          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				            <li><a class="dropdown-item" th:href="@{/Candidatos/nuevo}">Cargar Candidato</a></li>
				          </ul>
				        </li>
				        
      			</ul>
      			<form class="d-flex">
      				<img th:src="@{/images/logo.jpg}" style="width: 80px; height: 60px;">
      			</form>
    		</div>
  		</div>
  		</nav>
  		
	</nav>
    
	<header id="headerindex" th:fragment="headerindex">
        <h1 style="text-align: center"> Votacion RockFest 2022 </h1>
        <div style="text-align: center">
            <img src="images/equipo.jpg" alt="equipo" title="trabajo en equipo" style="width: 700px ">
        </div>
    </header>
    
    <header id="headerangeda" th:fragment="headeragenda">
			<h1 style="text-align: center"> Agenda</h1>	
			<div style="text-align: center">
				<img src="images/731calendar_100366.png" alt="imagen de calendario" title="calendario" width="300" height="340">
			</div>
    </header>
    
    <header id="headerbeneficios" th:fragment="headerbeneficios">
    	<h1 style="text-align: center">Becas y Beneficios</h1>
        <div style="text-align: center">
            <img src="images/becas.jpg" alt="equipo" title="becas" style="width: 700px ">
        </div>
    </header>
    
    <header id="headercontactos" th:fragment="headercontactos">
		<h1>Contactos</h1>
		<img alt="contactos" src="images/contactos.jpg" style="width: 700px " title="Contactos">
    </header>
    
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    
	
</body>
</html>