<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<nav th:replace="loyouts/header :: generalheader"></nav>
	<br>
	<br>
	<div class="container col-4">
		<br>
		<h4 class="text-white">Alta de Candidato</h4>
		<form th:action="@{/Candidatos/modificar}" method="POST" th:object="${candidato}">
				<div class="mb-3">
					<input type="hidden" th:field="*{codigo}">
					<label for="codigoId" class="form-label text-white">Código</label> 
					<input  th:value="${codigo}" type="number" class="form-control" id="codigoId" disabled="disabled">
					<!--  <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>-->
				</div>
				<div class="mb-3">
					<label for="nombreId" class="form-label text-white">Nombre de artista o banda</label> 
					<input  th:field="*{nombre}" type="text" class="form-control" id="nombreId" placeholder="Ingrese username">
					<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>
				<div class="mb-3">
					<label for="generoId" class="form-label text-white">Género musical</label> 
					<input  th:field="*{genero}" type="text" class="form-control" id="generoId" placeholder="Ingrese genero">
					<div class="text-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
				</div>
				<div class="mb-3">
					<label for="descripcionId" class="form-label text-white">Descripción</label> 
					<input  th:field="*{descripcion}" type="text" class="form-control" id="descripcionId" placeholder="Ingrese descripcion">
					<div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
				</div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Editar</button>
					 <a th:href="@{/Candidatos/listaCandidatos}" id="cancel" class="btn btn-secondary">Cancelar</a>
				</div>
		</form>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>